{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is home page</h1>
            <p>this is some text</p>
            <img src="/static/image/IMG_2122.jpeg" height="520" alt="">
        </div>
    </div>
</div>
{{end}}